@model Ninesky.Models.Mail

@{
    ViewBag.Title = "邮箱信息";
    Layout = "~/Views/Shared/_Mail.cshtml";
}
<div class="row-fluid">
    <div class="span2 bs-docs-sidebar">
        @Html.Action("PartialUserNavMenus")
    </div>
    <div class="span9">
        <ul class="breadcrumb">
            <li class="active">邮件信息</li>
        </ul>
        <h2 class = "container" >@Model.Title 总是未命名</h2>
        <div class="Info">发件人：@Model.FromUserName 作者：@Model.ToUserName 发布时间：@Model.SendTime.ToLongDateString()</div>
        <div class="text">@Html.Raw(Model.Content)</div>
        </div>
    </div>

