@{
    ViewBag.Title = "我的邮箱";
    Layout = "~/Views/Shared/_Mail.cshtml";
}
<div class="row-fluid">
    <div class="span2 bs-docs-sidebar">
            @Html.Action("PartialUserNavMenus")
    </div>
    <div class="span8">
        <ul class="breadcrumb">
            <li class="active">我的邮箱</li>
        </ul>

        <h3 style="margin:50px">欢迎使用CWE,想要什么呢？客官</h3>
@*        @Html.Partial("_UserName")*@
    </div>
</div>
<div class="clear"></div>
