@{
    ViewBag.Title = "邮件管理";
    Layout = "~/Views/Shared/_User.cshtml";
}
<div class="row-fluid">
    <div class="span2 bs-docs-sidebar">
            @Html.Action("PartialUserNavMenus")
    </div>
    <div class="span8">
        <ul class="breadcrumb">
            <li class="active">我的邮件</li>
        </ul>
    </div>
</div>
<div class="clear"></div>
