@model Ninesky.Models.Mail
<div class="title">@Model.Title</div>
<div class="Info">来源：@Model.FromUser 作者：@Model.ToUser 发布时间：@Model.SendTime.ToLongDateString()</div>
<div class="text">@Html.Raw(Model.Content)</div>
